body, html {
	font-family: 'Open Sans', sans-serif;
	color: #939598;
	background-color: rgb(245, 245, 245);
	margin: 0;
	font-size: 100%;
	font-weight: 400;
	height: 100%;
	width: 100%;
}
/*NAVBAR*/

.bg-light {
    background-color: rgb(245, 245, 245)!important;
}

.navbar {
	position: fixed top;
}

.navbar-brand > img {
	position: center;
	max-height: 60px;
}

.buffer {
	height: 86px;
}

.nav-link {
	font-size: 1.2em;
	font-weight: bold;
	color: #939598!important;
}



/*SECCION SOMOS*/

.titulo1 {
	grid-area: somostitulo1;
}

.titulo2 {
	grid-area: somostitulo2;
}

.titulo3 {
	grid-area: somostitulo3;
}

.parrafo1 {
	grid-area: somosparrafo1;
}

.parrafo2 {
	grid-area: somosparrafo2;
}

.parrafo3 {
	grid-area: somosparrafo3;
}

/*.somostitulo {
	height: 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	min-width: 300px;
}
*/
.somostitulo > img {
	width: 100%;
}

.somosparrafo {
	/*min-height: 376.5px;*/
	font-size: 1.2em;
	font-weight: 500;
	width: 100%;
	position: relative;
	height: 100vw;
}

.somosparrafo > p {
	margin: 0;
	position: absolute;
	min-width: 300px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* INICIO CSS GRID*/

.somos {
	position: relative;
	display: grid;
	grid-template-areas:
     "somostitulo1"
     "somosparrafo1"
     "somostitulo2"
     "somosparrafo2"
     "somostitulo3"
     "somosparrafo3";
}


@media (min-width: 768px) {
	.somos {
		grid-template-areas:
	     "somostitulo1 somosparrafo1"
	     "somosparrafo2 somostitulo2"
	     "somostitulo3 somosparrafo3";
	}
	.somosparrafo {
		font-size: 1.2em;
		height: 48vw;
	}
	.navbar-brand > img {
	position: center;
	max-height: 100px;
	}
	.buffer {
	height: 126px;
	}
}

@media (min-width: 920px) {
	.somosparrafo {
		font-size: 1.3em;
	}
}

@media (min-width: 1800px) {  
   .somos {
		grid-template-areas:
	     "somostitulo1 somosparrafo1 somostitulo2 somosparrafo2 somostitulo3 somosparrafo3";
	}

	.somosparrafo {
		width: 16.666vw;
		font-size: 1em;
		height: 16.666vw;
	}

	
}

/* FIN CSS GRID*/
/*FIN SECCION SOMOS*/

/*SECCION SERVICIOS*/
#servicios h6 {
	margin-top: 50px;
	}

.card-deck {
	margin-right: 5px;
	margin-left: 5px;
}

li > img {
	margin: -80px -80px -80px -80px;
}

@media (min-width: 570px) {
	li > img {
		margin: 0px;
	}
}

@media (max-width: 570px){
	.card {
		border: none;
	}
	#servicios h6 {
	margin-top: 0px;
	}
}

@media (min-width: 920px) {
	li > img {
		margin: -40px -40px -40px -40px;
	}
}

@media (min-width: 1400px) {
	li > img {
		margin: -80px -80px -80px -80px;
	}
}

.card-text h2 {
	color: #41998C;
	font-weight: 800;
}

.card-text h3 {
	font-weight: 600;
	padding-top: 20px;
}

li {
	font-size: 1.2em;
}