body, html {
	font-family: 'Baloo Da 2', cursive;
	background-color: rgb(245, 245, 245);
	margin: 0;
	font-size: 100%;
	font-weight: 400;
	height: 100%;
	width: 100%;
}
/*NAVBAR*/

.navbar-brand > img {
	position: center;
	max-width: 200px;
}

.buffer {
	height: 100px;
}

.nav-link {
	font-size: 1.2em;
	font-weight: bold;
	color: #939598!important;
}



/*SECCION SOMOS*/

.titulo1 {
	grid-area: somostitulo1;
}

.titulo2 {
	grid-area: somostitulo2;
}

.titulo3 {
	grid-area: somostitulo3;
}

.parrafo1 {
	grid-area: somosparrafo1;
}

.parrafo2 {
	grid-area: somosparrafo2;
}

.parrafo3 {
	grid-area: somosparrafo3;
}

.somostitulo {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*min-height: 300px;
	min-width: 300px;*/
}

.somostitulo > img {
	width: 100%;
}

.somosparrafo {
	/*min-height: 376.5px;*/
	font-size: 1.2em;
	width: 100%;
	position: relative;
	height: 100vw;
}

p {
	font-weight: 600!important;
}

.somosparrafo > p {
	margin: 0;
	position: absolute;
	min-width: 300px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* INICIO CSS GRID*/

.somos {
	position: relative;
	display: grid;
	grid-template-areas:
     "somostitulo1"
     "somosparrafo1"
     "somostitulo2"
     "somosparrafo2"
     "somostitulo3"
     "somosparrafo3";
}


@media (min-width: 768px) {
	.somos {
		grid-template-areas:
	     "somostitulo1 somosparrafo1"
	     "somosparrafo2 somostitulo2"
	     "somostitulo3 somosparrafo3";
	}
	.somosparrafo {
		font-size: 1.2em;
		height: 48vw;
	}
}

@media (min-width: 920px) {
	.somosparrafo {
		font-size: 1.3em;
	}
}

@media (min-width: 1800px) {  
   .somos {
		grid-template-areas:
	     "somostitulo1 somosparrafo1 somostitulo2 somosparrafo2 somostitulo3 somosparrafo3";
	}

	.somosparrafo {
		width: 16.6vw;
		font-size: 1em;
		max-height: 300px;
	}

	
}

/* FIN CSS GRID*/
/*FIN SECCION SOMOS*/



